In [10]:
#wilcoxonSignTest
import pandas as pd
dataset = pd.read_excel("1 Wilcoxon.xlsx",sheet_name=0)
print(dataset.head())

   ID  TRT  AGE  WEIGHIN  STAGE  TOTALCIN  TOTALCW2  TOTALCW4 TOTALCW6
0   1    0   52    124.0      2         6         6         6        7
1   5    0   77    160.0      1         9         6        10        9
2   6    0   60    136.5      4         7         9        17       19
3   9    0   61    179.6      1         6         7         9        3
4  11    0   59    175.8      2         6         7        16       13

In [11]:
dataset.head()

   ID  TRT  AGE  WEIGHIN  STAGE  TOTALCIN  TOTALCW2  TOTALCW4 TOTALCW6
0   1    0   52    124.0      2         6         6         6        7
1   5    0   77    160.0      1         9         6        10        9
2   6    0   60    136.5      4         7         9        17       19
3   9    0   61    179.6      1         6         7         9        3
4  11    0   59    175.8      2         6         7        16       13


<p>H0 :There is no significant difference in the calcium level of the patient between initial calcium values and after 2 weeks.</p> <p> H1 :There is significant difference in the calcium level of the patient between initial calcium values and after 2 weeks. </p>

In [13]:
from scipy.stats import wilcoxon
stats,p = wilcoxon(dataset.TOTALCIN, dataset.TOTALCW2)
print(stats,p)
if(p>0.05):
    print('Null Hypothesis is accepted')
else:
    print('Alternate hypothesis is accepted')

29.5 0.00259741456482452
Alternate hypothesis is accepted

#Friedman Test


<p>H0 - There is no significant difference in the calcium level of the patient intially, after 2 weeks and 4th week</p>
<p> H1 - There is significant difference in the calcium level of the patient intially, after 2 weeks and 4th week</p>

In [16]:
from scipy.stats import friedmanchisquare
stats,p = friedmanchisquare(dataset.TOTALCIN, dataset.TOTALCW2, dataset.TOTALCW4)
print(stats,p)
if p>0.05:
    print('Null Hypothesis is accepted')
else:
    print('Alternate hypothesis is accepted')

27.927710843373504 8.62133745016363e-07
Alternate hypothesis is accepted

#Mann-Whitney Test

In [17]:
dataset2 = pd.read_excel("4 Kruskal Wallis.xlsx")
print(dataset2.head(10))

   Design1  Design2  Design3  Showroom
0       11       12       23         1
1       17       10       20         2
2       16       15       18         3
3       14       19       17         4
4       15       11       10         5

In [20]:
from scipy.stats import mannwhitneyu
stats,p = mannwhitneyu(dataset2.Design1, dataset2.Design2)
print(stats,p)
if(p>0.05):
    print("null hypothesis  is accepted")
else:
    print("alternative hypothesis  is accepted")

9.0 0.2641796636354743
null hypothesis  is accepted

#KruskalWallis Test


H0 - There is no significant difference in the sales of Design 1, Design 2 and Design 3

H1 - There is significant difference in the sales of Design 1, Design 2 and Design 3

In [22]:
from scipy.stats import kruskal
stats , p = kruskal(dataset2.Design1, dataset2.Design2, dataset2.Design3)
print(stats,p)
if(p>0.05):
    print("null hypothesis H0 is accepted")
else:
    print("alternative hypothesis H1 is accepted")

2.7345323741007226 0.25480259087913626
null hypothesis H0 is accepted

#Chi-Square Test

In [30]:
dataset3=pd.read_excel('5 Chi square Test.xlsx')

dataset3.head()

     ids  Gender        Smoking
0  43783  Female      NonSmoker
1  20278  Female      NonSmoker
2  20389  Female      NonSmoker
3  22820    Male            NaN
4  24559    Male  CurrentSmoker


H0 - There is no dependency between Gender and Smoking

H1 - There is dependency between Gender and Smoking

In [31]:
from scipy.stats import chi2_contingency
chitable = pd.crosstab(dataset3.Gender, dataset_3.Smoking)
print(chitable)

Smoking  CurrentSmoker  NonSmoker  PastSmoker
Gender
Female              31        149          13
Male                37        148          24

In [32]:
stats, p, dof, expected = chi2_contingency(chitable)
print(stats,p)
if(p>0.05):
    print("null hypothesis H0 is accepted")
else:
    print("alternative hypothesis H1 is accepted")

3.1712567666931584 0.20481904779163013
null hypothesis H0 is accepted

1-Sample T Test

In [33]:
dataset4=pd.read_excel('1. One Sample.xlsx')
dataset4.head()

     ids  Height
0  43783   72.35
1  20278   70.66
2  20389   70.68
3  24559   67.43
4  28980   68.45

H0 - There is no significant difference between the mean of students height against population mean which is 70

H1 - There is significant difference between the mean of students height against population mean which is 70

In [34]:
from scipy.stats import ttest_1samp
stats, p = ttest_1samp(dataset4.Height, 70)
print(stats,p)
if(p>0.05):
    print("null hypothesis H0 is accepted")
else:
    print("alternative hypothesis H1 is accepted")

-7.4650728751045845 5.10345463609596e-13
alternative hypothesis H1 is accepted

Paired Sample

In [35]:

dataset5=pd.read_excel('2. Paired Sample.xlsx')
dataset5.head()

     ids  English   Math
0  43783    88.24  60.02
1  20278    89.45  70.19
2  20389    96.73  71.20
3  22820    74.06  55.89
4  24559    82.61  65.52


H0 - There is no significant difference in the mean of students English and Maths marks 

H1 - There is significant difference in the mean of students English and Maths marks

In [37]:
from scipy.stats import ttest_rel
stats, p = ttest_rel(dataset5.English, dataset5.Math)
print(stats,p)
if(p>0.05):
    print("null hypothesis H0 is accepted")
else:
    print("alternative hypothesis H1 is accepted")

36.312568981719856 3.0710987192210606e-128
alternative hypothesis H1 is accepted