In [1]:
import numpy as np
import pandas as pd
from sklearn import tree, preprocessing

In [5]:
titanic_train = pd.read_csv('Dataset/train.csv')
titanic_train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [9]:
#Dataprocessing
titanic_train.isna().sum()

#From the result other than cabin remaing all cols are having data

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [14]:
#we are going to see with the variables Age, Gender and fare out of this gender
#is string type so converting it to numbers using the label encoder

label_encoder = preprocessing.LabelEncoder()
encoded_sex = label_encoder.fit_transform(titanic_train['Sex'])

In [17]:
#Initializing the decision tree

tree_model = tree.DecisionTreeClassifier()

In [22]:
#In-Dependent Vars in this case Age, Sex, Fare
#IF more than 1 IDV is there we will do .T transpose
predictors = pd.DataFrame([encoded_sex,titanic_train['Age'],titanic_train['Fare']]).T
predictors.head(1)

     0     1     2
0  1.0  22.0  7.25

In [26]:
#Train the model
tree_model.fit(X=predictors,y=titanic_train['Survived'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [29]:
with open('Dtree1.dot', 'w') as f:
    f = tree.export_graphviz(tree_model,feature_names=['Sex','Age', 'Fare'], out_file=f)

In [32]:
print(tree_model.score(predictors, titanic_train['Survived']))

0.9763779527559056

<b>Prediction </b>

In [34]:
titanic_test = pd.read_csv('Dataset/test.csv')

In [36]:
titanic_test.isna().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [37]:
encoded_sex_test = label_encoder.fit_transform(titanic_test['Sex'])

In [39]:
test_features = pd.DataFrame([encoded_sex_test,titanic_test['Age'],titanic_test['Fare']])

In [44]:
test_prediction = tree_model.predict(test_features.T)

In [48]:
prediction_output = pd.DataFrame({'Passenger Id': titanic_test['PassengerId'], "Survived": test_prediction})

In [50]:
prediction_output.head()

   Passenger Id  Survived
0           892         0
1           893         1
2           894         0
3           895         1
4           896         0

Inferences of Leaf Node

a) 1 female passenger with fare greater than 48.2 Dollars and age less than 8 years did'nt survived.

b) 8 male passengers with age less than 6.5 years and fare less than 20.82 dollars survived.

c) 4 male passengers with age greater than 6.5 years and fare less than 26.46 dollars survived.

d) 2 male passengers with age greater than 6.5 years and fare greater than 387.66 dollars survived.

e) 4 female passengers with fare less than 28.85 dollars did'nt survived