In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing, tree
from sklearn.ensemble import RandomForestClassifier

In [3]:
data = pd.read_excel("Dataset/Bank_Personal_Loan_Modelling.xlsx",sheet_name="Data")
data.head(2)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0

In [4]:
#as we are not having importance about the ID and zip code we are dropping them
data.drop(columns=['ID','ZIP Code'],inplace=True)

In [5]:
data.isna().sum()

Age                   0
Experience            0
Income                0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [6]:
rf_model = RandomForestClassifier(n_estimators=1000, max_features=2, oob_score=True)

In [8]:
features = ["Age", "Experience", "Income", "Family", "CCAvg", "Education","Mortgage", "Securities Account", "CD Account", "Online", "CreditCard"]

In [9]:
rf_model.fit(X= data[features],y=data['Personal Loan'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [10]:
print('OOB Accuracy', rf_model.oob_score_)

OOB Accuracy 0.9878

In [11]:
for feature, imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.0453413717005392
Experience 0.04442934904877879
Income 0.35230120658348596
Family 0.09383812211845187
CCAvg 0.17990913924190988
Education 0.1611458349728433
Mortgage 0.04415227031952909
Securities Account 0.0054386647479229494
CD Account 0.05522841964791674
Online 0.008441303045497887
CreditCard 0.009774318573124411

In [12]:
predictors=pd.DataFrame([data["Income"],data["CCAvg"],data["Education"],data["Family"]]).T

In [13]:
tree_model = tree.DecisionTreeClassifier(max_depth=8)

In [14]:
tree_model.fit(X=predictors,y= data['Personal Loan'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [15]:
with open("BankModel.dot","w") as f:
    f = tree.export_graphviz(tree_model,feature_names=["Income","CCAvg","Education","Family"],out_file=f)

In [16]:
print('Classification with featrues', tree_model.score(X=predictors,y=data['Personal Loan']))

Classification with featrues 0.9954


Leaf nodes inferences

a) 3629 customers having income less than 106.5 dollars and CCavg less than 2.95 dollars did'nt get loan.

b) 314 customers having income greater than 116.5 dollars with education level of either Graduate or Advanced/Professional got the loan.