In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
dataset = pd.read_csv('general_data.csv')
dataset.head(10)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,29,No,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,No,Non-Travel,Research & Development,7,4,Medical,1,10,Female,...,1.0,Y,13,8,1,6.0,2,6,1,5

In [2]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

# Data Processing

Here we are going to check if there are null values and duplicates if there are any we will drop the corresponding data

In [3]:
dataset.isnull()
dataset = dataset.dropna()
print(dataset)

      Age Attrition     BusinessTravel              Department  \
0      51        No      Travel_Rarely                   Sales
1      31       Yes  Travel_Frequently  Research & Development
2      32        No  Travel_Frequently  Research & Development
3      38        No         Non-Travel  Research & Development
4      32        No      Travel_Rarely  Research & Development
...   ...       ...                ...                     ...
4404   29        No      Travel_Rarely                   Sales
4405   42        No      Travel_Rarely  Research & Development
4406   29        No      Travel_Rarely  Research & Development
4407   25        No      Travel_Rarely  Research & Development
4408   42        No      Travel_Rarely                   Sales

      DistanceFromHome  Education EducationField  EmployeeCount  EmployeeID  \
0                    6          2  Life Sciences              1           1
1                   10          1  Life Sciences              1           2
2                   17          4          Other              1           3
3                    2          5  Life Sciences              1           4
4                   10          1        Medical              1           5
...                ...        ...            ...            ...         ...
4404                 4          3          Other              1        4405
4405                 5          4        Medical              1        4406
4406                 2          4        Medical              1        4407
4407                25          2  Life Sciences              1        4408
4408                18          2        Medical              1        4409

      Gender  ...  NumCompaniesWorked Over18 PercentSalaryHike  StandardHours  \
0     Female  ...                 1.0      Y                11              8
1     Female  ...                 0.0      Y                23              8
2       Male  ...                 1.0      Y                15              8
3       Male  ...                 3.0      Y                11              8
4       Male  ...                 4.0      Y                12              8
...      ...  ...                 ...    ...               ...            ...
4404  Female  ...                 1.0      Y                18              8
4405  Female  ...                 3.0      Y                17              8
4406    Male  ...                 2.0      Y                15              8
4407    Male  ...                 0.0      Y                20              8
4408    Male  ...                 0.0      Y                14              8

      StockOptionLevel TotalWorkingYears  TrainingTimesLastYear  \
0                    0               1.0                      6
1                    1               6.0                      3
2                    3               5.0                      2
3                    3              13.0                      5
4                    2               9.0                      2
...                ...               ...                    ...
4404                 0               6.0                      2
4405                 1              10.0                      5
4406                 0              10.0                      2
4407                 0               5.0                      4
4408                 1              10.0                      2

      YearsAtCompany  YearsSinceLastPromotion  YearsWithCurrManager
0                  1                        0                     0
1                  5                        1                     4
2                  5                        0                     3
3                  8                        7                     5
4                  6                        0                     4
...              ...                      ...                   ...
4404               6                        1                     5
4405               3                        0                     2
4406               3                        0                     2
4407               4                        1                     2
4408               9                        7                     8

[4382 rows x 24 columns]

In [4]:
dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4404    False
4405    False
4406    False
4407    False
4408    False
Length: 4382, dtype: bool

In [5]:
dataset.drop_duplicates()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [6]:
dataset.describe()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
count,4382.000000,4382.000000,4382.000000,4382.0,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,4382.0,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000
mean,36.933364,9.198996,2.912369,1.0,2207.804884,2.063898,65061.702419,2.693291,15.210634,8.0,0.794614,11.290278,2.798266,7.010497,2.191693,4.126198
std,9.137272,8.105396,1.024728,0.0,1271.688783,1.106115,47142.310175,2.497832,3.663007,0.0,0.852397,7.785717,1.289402,6.129351,3.224994,3.569674
min,18.000000,1.000000,1.000000,1.0,1.000000,1.000000,10090.000000,0.000000,11.000000,8.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2.000000,2.000000,1.0,1108.250000,1.000000,29110.000000,1.000000,12.000000,8.0,0.000000,6.000000,2.000000,3.000000,0.000000,2.000000
50%,36.000000,7.000000,3.000000,1.0,2208.500000,2.000000,49190.000000,2.000000,14.000000,8.0,1.000000,10.000000,3.000000,5.000000,1.000000,3.000000
75%,43.000000,14.000000,4.000000,1.0,3308.750000,3.000000,83790.000000,4.000000,18.000000,8.0,1.000000,15.000000,3.000000,9.000000,3.000000,7.000000
max,60.000000,29.000000,5.000000,1.0,4409.000000,5.000000,199990.000000,9.000000,25.000000,8.0,3.000000,40.000000,6.000000,40.000000,15.000000,17.000000

In [7]:
dataset[['Age','DistanceFromHome','Education','MonthlyIncome',
'NumCompaniesWorked', 'PercentSalaryHike','TotalWorkingYears', 'TrainingTimesLastYear',
'YearsAtCompany','YearsSinceLastPromotion', 'YearsWithCurrManager']].mean()

Age                           36.933364
DistanceFromHome               9.198996
Education                      2.912369
MonthlyIncome              65061.702419
NumCompaniesWorked             2.693291
PercentSalaryHike             15.210634
TotalWorkingYears             11.290278
TrainingTimesLastYear          2.798266
YearsAtCompany                 7.010497
YearsSinceLastPromotion        2.191693
YearsWithCurrManager           4.126198
dtype: float64

In [8]:
dataset[['Age','DistanceFromHome','Education','MonthlyIncome',
'NumCompaniesWorked', 'PercentSalaryHike','TotalWorkingYears', 'TrainingTimesLastYear',
'YearsAtCompany','YearsSinceLastPromotion', 'YearsWithCurrManager']].mode()

,Age,DistanceFromHome,Education,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,35,2,3,23420,1.0,11,10.0,2,5,0,2

In [9]:
dataset[['Age','DistanceFromHome','Education','MonthlyIncome',
'NumCompaniesWorked', 'PercentSalaryHike','TotalWorkingYears', 'TrainingTimesLastYear',
'YearsAtCompany','YearsSinceLastPromotion', 'YearsWithCurrManager']].median()

Age                           36.0
DistanceFromHome               7.0
Education                      3.0
MonthlyIncome              49190.0
NumCompaniesWorked             2.0
PercentSalaryHike             14.0
TotalWorkingYears             10.0
TrainingTimesLastYear          3.0
YearsAtCompany                 5.0
YearsSinceLastPromotion        1.0
YearsWithCurrManager           3.0
dtype: float64

In [10]:
dataset[['Age','DistanceFromHome','Education','MonthlyIncome',
'NumCompaniesWorked', 'PercentSalaryHike','TotalWorkingYears', 'TrainingTimesLastYear',
'YearsAtCompany','YearsSinceLastPromotion', 'YearsWithCurrManager']].var()

Age                        8.348974e+01
DistanceFromHome           6.569744e+01
Education                  1.050068e+00
MonthlyIncome              2.222397e+09
NumCompaniesWorked         6.239165e+00
PercentSalaryHike          1.341762e+01
TotalWorkingYears          6.061739e+01
TrainingTimesLastYear      1.662558e+00
YearsAtCompany             3.756894e+01
YearsSinceLastPromotion    1.040059e+01
YearsWithCurrManager       1.274257e+01
dtype: float64

In [11]:
dataset[['Age','DistanceFromHome','Education','MonthlyIncome',
'NumCompaniesWorked', 'PercentSalaryHike','TotalWorkingYears', 'TrainingTimesLastYear',
'YearsAtCompany','YearsSinceLastPromotion', 'YearsWithCurrManager']].std()

Age                            9.137272
DistanceFromHome               8.105396
Education                      1.024728
MonthlyIncome              47142.310175
NumCompaniesWorked             2.497832
PercentSalaryHike              3.663007
TotalWorkingYears              7.785717
TrainingTimesLastYear          1.289402
YearsAtCompany                 6.129351
YearsSinceLastPromotion        3.224994
YearsWithCurrManager           3.569674
dtype: float64

In [12]:
dataset[['Age','DistanceFromHome','Education','MonthlyIncome',
'NumCompaniesWorked', 'PercentSalaryHike','TotalWorkingYears', 'TrainingTimesLastYear',
'YearsAtCompany','YearsSinceLastPromotion', 'YearsWithCurrManager']].skew()

Age                        0.413048
DistanceFromHome           0.955517
Education                 -0.288977
MonthlyIncome              1.367457
NumCompaniesWorked         1.029174
PercentSalaryHike          0.819510
TotalWorkingYears          1.115419
TrainingTimesLastYear      0.551818
YearsAtCompany             1.764619
YearsSinceLastPromotion    1.980992
YearsWithCurrManager       0.834277
dtype: float64

In [13]:
dYes = dataset.loc[dataset['Attrition'] == 'Yes']
dNo = dataset.loc[dataset['Attrition']=='No']
print(dYes.var())

Age                        9.367988e+01
DistanceFromHome           6.014288e+01
Education                  1.029134e+00
EmployeeCount              0.000000e+00
EmployeeID                 1.613939e+06
JobLevel                   1.099786e+00
MonthlyIncome              2.015153e+09
NumCompaniesWorked         7.189281e+00
PercentSalaryHike          1.433260e+01
StandardHours              0.000000e+00
StockOptionLevel           7.350580e-01
TotalWorkingYears          5.150592e+01
TrainingTimesLastYear      1.336102e+00
YearsAtCompany             3.553318e+01
YearsSinceLastPromotion    9.970011e+00
YearsWithCurrManager       9.900850e+00
dtype: float64

In [14]:
print(dNo.var())

Age                        7.906440e+01
DistanceFromHome           6.677209e+01
Education                  1.053997e+00
EmployeeCount              0.000000e+00
EmployeeID                 1.618214e+06
JobLevel                   1.247290e+00
MonthlyIncome              2.260283e+09
NumCompaniesWorked         6.045263e+00
PercentSalaryHike          1.322846e+01
StandardHours              0.000000e+00
StockOptionLevel           7.250979e-01
TotalWorkingYears          6.029912e+01
TrainingTimesLastYear      1.721044e+00
YearsAtCompany             3.717699e+01
YearsSinceLastPromotion    1.047364e+01
YearsWithCurrManager       1.292686e+01
dtype: float64

In [15]:
print(dYes.skew())

Age                        0.714479
DistanceFromHome           0.957983
Education                 -0.217029
EmployeeCount              0.000000
EmployeeID                 0.001186
JobLevel                   1.053776
MonthlyIncome              1.536183
NumCompaniesWorked         0.864889
PercentSalaryHike          0.760011
StandardHours              0.000000
StockOptionLevel           0.956491
TotalWorkingYears          1.674396
TrainingTimesLastYear      0.416718
YearsAtCompany             2.659829
YearsSinceLastPromotion    2.195541
YearsWithCurrManager       1.017582
dtype: float64

In [16]:
print(dNo.skew())

Age                        0.406885
DistanceFromHome           0.953779
Education                 -0.303039
EmployeeCount              0.000000
EmployeeID                -0.003028
JobLevel                   1.014550
MonthlyIncome              1.337715
NumCompaniesWorked         1.060904
PercentSalaryHike          0.830327
StandardHours              0.000000
StockOptionLevel           0.970007
TotalWorkingYears          1.065443
TrainingTimesLastYear      0.556424
YearsAtCompany             1.658986
YearsSinceLastPromotion    1.944890
YearsWithCurrManager       0.803398
dtype: float64

In [17]:
dataset[['Age','DistanceFromHome','Education','MonthlyIncome',
'NumCompaniesWorked', 'PercentSalaryHike','TotalWorkingYears', 'TrainingTimesLastYear',
'YearsAtCompany','YearsSinceLastPromotion', 'YearsWithCurrManager']].kurt()

Age                       -0.409517
DistanceFromHome          -0.230691
Education                 -0.565008
MonthlyIncome              0.990836
NumCompaniesWorked         0.014307
PercentSalaryHike         -0.306951
TotalWorkingYears          0.909316
TrainingTimesLastYear      0.494215
YearsAtCompany             3.930726
YearsSinceLastPromotion    3.592162
YearsWithCurrManager       0.170703
dtype: float64

In [18]:
dYes.kurt()

Age                       -0.073388
DistanceFromHome          -0.050913
Education                 -0.632511
EmployeeCount              0.000000
EmployeeID                -1.211662
JobLevel                   0.624243
MonthlyIncome              1.636083
NumCompaniesWorked        -0.552946
PercentSalaryHike         -0.432517
StandardHours              0.000000
StockOptionLevel           0.245353
TotalWorkingYears          3.673837
TrainingTimesLastYear      0.964115
YearsAtCompany             9.366724
YearsSinceLastPromotion    4.711054
YearsWithCurrManager       0.219179
dtype: float64

In [19]:
dNo.kurt()

Age                       -0.417785
DistanceFromHome          -0.264079
Education                 -0.549711
EmployeeCount              0.000000
EmployeeID                -1.196165
JobLevel                   0.344379
MonthlyIncome              0.888027
NumCompaniesWorked         0.145967
PercentSalaryHike         -0.283132
StandardHours              0.000000
StockOptionLevel           0.380699
TotalWorkingYears          0.670740
TrainingTimesLastYear      0.396037
YearsAtCompany             3.353232
YearsSinceLastPromotion    3.416100
YearsWithCurrManager       0.140282
dtype: float64

Inferance from the above analysis
Age and mean of distance from home are leptokurtic and all other vars are platyokurtic
all processed variables are positive skewness

#Statistical Tests (Mann-Whitney)

In [20]:
from sklearn import preprocessing
from scipy.stats import mannwhitneyu
label_encoder = preprocessing.LabelBinarizer()
dataset['Attrition'] = label_encoder.fit_transform(dataset['Attrition'])

print(dataset.Attrition)

0       0
1       1
2       0
3       0
4       0
       ..
4404    0
4405    0
4406    0
4407    0
4408    0
Name: Attrition, Length: 4382, dtype: int32

#Attrition Vs Distance From home
<p>
H0: There is no significant differences in the Distance From Home between attrition
    </p>
    <p>
Ha: There is significant differences in the Distance From Home between attrition
    </p>

In [21]:

stats,p = mannwhitneyu(dataset.Attrition, dataset.DistanceFromHome)
print(stats,p)

219255.0 0.0

Conclustion: As p value is <0.05 Null hypothesis is rejected and Alternate Hypothesis is accepted

#Attrition Vs Montly Income

<p>H0: There is no significant differences in the Monthly income between attrition </p>
<p>Ha: There is significant differences in the Monthly income between attrition </p>

In [22]:
stats,p = mannwhitneyu(dataset.Attrition,dataset.MonthlyIncome)
print(stats,p)

0.0 0.0

Conclustion: As p <0.05 Null Hypothesis is rejected and alternate hypothesis is accepted

#Attrition Vs YearsWithCurrManager
<p>H0: There is no significant differences in the years with current manager between attrition </p>

<p>Ha: There is significant differences in the years with current manager between attrition</p>

In [23]:
stats,p = mannwhitneyu(dataset.Attrition,dataset.YearsWithCurrManager)
print(stats,p)

2069034.5 0.0

Conclustion: As p <0.05 Null Hypothesis is rejected and alternate hypothesis is accepted

#Chi-Square test

In [24]:
# 1)BusinessTravel
#H0 : There is no dependency between BusinessTravel and Attrition rate.
#H1 : There is a dependency between BusinessTravel and Attrition rate

from scipy.stats import chi2_contingency
chitable = pd.crosstab(dataset.Attrition,dataset.BusinessTravel)
stats,p,dof,expeted = chi2_contingency(chitable)
print(stats,p)

70.07594084831366 6.07019702736392e-16

#p<0.05 reject null hypothesis distance is not creating major impact in attrition

In [25]:
#Martial Status

#H0 : There is no dependency between Marital Status and Attrition rate.
#H1 : There is a dependency between Marital status and Attrition rate.

chitable = pd.crosstab(dataset.Attrition,dataset.MaritalStatus)
stats,p,dof,expeted = chi2_contingency(chitable)
print(stats,p)

133.85785802925156 8.573051828219379e-30

#p<0.05 reject null hypothesis There is a dependency between martial status and attriion rate