Question 1:
<br>
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
<br>
Input Format:
<br>
The first line of the input contains an email address.
<br>
Output Format:
<br>
Print the company name in single line.
<br>
Example;
<br>
Input:
john@google.com
<br>
Output:
google

In [1]:
email = 'username@companyname.com"'
username = email.split('@')[0] 
companyname = email.split('@')[1].split('.')[0]
print('User Name ', username)
print('company name ', companyname)

User Name  username
company name  companyname

Question 2:
<br>
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
<br>
Input Format:
The first line of input contains words separated by the comma.
<br>
Output Format:
Print the sorted words separated by the comma.
<br>
Example:
<br>
Input:
without,hello,bag,world
<br>
Output:
bag,hello,without,world

In [2]:
words = input('please enter comma seperated words')
print(type(words))
print(words)
words = words.strip()
wrd =[]
wordslist = words.split(',')
for word in wordslist:
    wrd.append(word.strip())

print(wrd)
wrd.sort()
print(wrd)

please enter comma seperated words  without  ,  hello  ,  bag  ,  world
<class 'str'>
  without  ,  hello  ,  bag  ,  world
['without', 'hello', 'bag', 'world']
['bag', 'hello', 'without', 'world']

Question 3:
<br>
Create your own Jupyter Notebook for Sets.
<br>
Reference link: https://www.w3schools.com/python/python_sets.asp

In [3]:
#Sets are unordered.
#Set elements are unique. Duplicate elements are not allowed.
#A set itself may be modified, but the elements contained in the set must be of an immutable type.

#Creation of Set: It is created using the curly braces {} ex as below

items ={"apple", "banana", "lemon", "plum"}
print(items) #in w3 schools i can see different outputs for every exeuction but here am seeing the same o/p everytime even they mention we cannot predict the output

#2 different sets are available 
# Set => Mutable whose values can be changes

items.add("Rose") ##To add only one item
print('Items after adding the rose: ', items ) #Created items is mutable set so we are able to add one more item "ROSE" in the items set

items.remove("Rose") #If item is not there we will see the error to avoid the error we can use discard()
print('Items after removing the rose: ', items )

items.discard('rose') #even we dont have rose in the set and tried to remove we are not seeeing any error 

#Frozen Set => Immutable whose values cannot be changed
fs =frozenset({'a','b',1,3,5}) # to create frozenset we need to use the keyword frozenset({items})
print(fs)
#fs.add(123) #as it is a frozen set we will get error while executing this statement so commenting out to exxecute the next statments

#we can use membershitp operator for sets as below

for item in items:
    print(item)
    
#To verify necessary item is there or not
print('Banana' in items) #Returns True or False
print('apple' in items)

#Updating the set
items.update({1,2,3,4}) #it will update the set with the items or we can say if we want to add multiple items we will be using the update
print(items)
items.update({'plum', 'apple', 4, 'banana', 'lemon'})
print(items)



##Join 2 sets

##Union
s1 = {12,3,45,6}
s2 ={'a','b'}

s3 = s1.union(s2)  ## we can assume union is equalent to update() where as in union we will be getting a new set where as in update() existing set gets updated()
print(s1)
print(s2)
print(s3)


s1 = {12,3,45,6}
s2 ={'a','b'}

s1.update(s2)
print(s2)


#To determine the intersection items
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'banana', 'apple', 'lemon', 'plum'}
Items after adding the rose:  {'Rose', 'banana', 'apple', 'plum', 'lemon'}
Items after removing the rose:  {'banana', 'apple', 'plum', 'lemon'}
frozenset({1, 3, 'a', 5, 'b'})
banana
apple
plum
lemon
False
True
{1, 2, 'banana', 3, 4, 'apple', 'plum', 'lemon'}
{1, 2, 'banana', 3, 4, 'apple', 'plum', 'lemon'}
{3, 12, 45, 6}
{'a', 'b'}
{3, 'a', 6, 'b', 12, 45}
{'a', 'b'}
{'apple'}

Question 4:
<br>
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
<br>
Input Format:
The first line contains n-1 numbers with each number separated by a space.
<br>
Output Format:
Print the missing number
<br>
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [4]:
nums = [ 100, 107, 103, 104, 105]
nums.sort() #Soring the nums
print(nums)

x = list(range(min(nums), max(nums)+1,1 )) #Creating one more list with the number from min til max based on the abv created list
missingnums = []

for num in x:
    if num in nums:
        continue
    else:
        missingnums.append(num)
print(missingnums)

[100, 103, 104, 105, 107]
[101, 102, 106]

Question 5:
<br>
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
<br>
Example:
<br>
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
<br>
Explanation:
<br> Third, seventh and ninth element of the list L has been removed because it was already present.
<br> Input Format:
<br>In one line take the elements of the list L with each element separated by a space.
<br>Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35

In [5]:
nums = [int(i) for i in input().split() ]
n = set(nums)
print(*sorted(n, key = nums.index))

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155